.main-chat
  .group-info 
    .group-info__leftHeader
      .group-info__title test
      %ul.group-info__groupMember 
        Member :
        %li.group-info__MemberName masa
    %a.group-info__editButton{href: '#'} Edit

  .message-list
    = render @messages

  %footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .form__contents
        = f.text_field :body, class: 'form__textForm', placeholder: 'type a message'
        = f.label :image, class: 'form__image' do
          = icon('far', 'image', class: 'form__image')
          = f.file_field :image, class: 'form__selectFile'
      = f.submit 'Send', class: 'form__submit'

  